<!-- pages/tempates/pages/comparison.html -->

{% extends 'base.html' %}

{% block page_content %}
    <style>
        /* CSS to remove underline from links */
        .table a {
            text-decoration: none;
        }
    </style>
    <h1>RESULTS COMPARISON PAGE</h1>
    <p>The uploaded file is: {{ pk }}</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Filename
                        <a href="?sort=filename&order=asc">&#9652;</a>
                        <a href="?sort=filename&order=desc">&#9662;</a>
                    </th>
                    <th>
                        Levenshtein
                        <a href="?sort=levenshtein&order=asc">&#9652;</a>
                        <a href="?sort=levenshtein&order=desc">&#9662;</a>
                    </th>
                    <th>
                        Jaccard
                        <a href="?sort=jaccard&order=asc">&#9652;</a>
                        <a href="?sort=jaccard&order=desc">&#9662;</a>
                    </th>
                    <th>
                        Jarowinkler
                        <a href="?sort=jarowinkler&order=asc">&#9652;</a>
                        <a href="?sort=jarowinkler&order=desc">&#9662;</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for sample in comparison %}
                    <tr>
                        <td>{{ sample.filename }}</td>
                        <td>{{ sample.levenshtein }}</td>
                        <td>{{ sample.jaccard }}</td>
                        <td>{{ sample.jarowinkler }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock page_content %}
