<!-- pages/tempates/pages/heatmaps.html-->

{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block page_content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="gap: 20px;">
        <div class="col-12 col-md-8">
            <img src="{% static 'images/heatmap_arithmetic.png' %}" alt="Arithmetic Heatmap" class="img-fluid">
        </div>
        <div class="col-12 col-md-8">
            <img src="{% static 'images/heatmap_geometric.png' %}" alt="Geometric Heatmap" class="img-fluid">
        </div>
    </div>
</div>
{% endblock page_content %}
